.j-drawer.custom-drawer-width-50 .ant-drawer-content-wrapper {
  width: 50% !important;
}
.j-drawer.custom-drawer-width-60 .ant-drawer-content-wrapper {
  width: 60% !important;
}
.j-drawer.custom-drawer-width-70 .ant-drawer-content-wrapper {
  width: 70% !important;
}
.j-drawer.custom-drawer-width-80 .ant-drawer-content-wrapper {
  width: 80% !important;
}
.j-drawer.custom-drawer-width-90 .ant-drawer-content-wrapper {
  width: 90% !important;
}
.j-drawer.custom-drawer-width-100 .ant-drawer-content-wrapper {
  width: 100% !important;
}
.j-drawer.custom-drawer-width-200 .ant-drawer-content-wrapper {
  width: 200px !important;
}
.j-drawer.custom-drawer-width-300 .ant-drawer-content-wrapper {
  width: 300px !important;
}
.j-drawer.custom-drawer-width-400 .ant-drawer-content-wrapper {
  width: 400px !important;
}
.j-drawer.custom-drawer-width-500 .ant-drawer-content-wrapper {
  width: 500px !important;
}
.j-drawer.custom-drawer-width-600 .ant-drawer-content-wrapper {
  width: 600px !important;
}
.j-drawer.custom-drawer-width-700 .ant-drawer-content-wrapper {
  width: 700px !important;
}
.j-drawer.custom-drawer-width-800 .ant-drawer-content-wrapper {
  width: 800px !important;
}
.j-drawer.custom-drawer-width-900 .ant-drawer-content-wrapper {
  width: 900px !important;
}
.j-drawer.custom-drawer-width-1000 .ant-drawer-content-wrapper {
  width: 1000px !important;
}
.j-drawer.custom-drawer-width-1100 .ant-drawer-content-wrapper {
  width: 1100px !important;
}
.j-drawer.custom-drawer-width-1200 .ant-drawer-content-wrapper {
  width: 1200px !important;
}
.j-drawer.custom-drawer-width-1300 .ant-drawer-content-wrapper {
  width: 1300px !important;
}
.j-drawer.custom-drawer-width-1400 .ant-drawer-content-wrapper {
  width: 1400px !important;
}
.j-drawer.custom-drawer-width-1500 .ant-drawer-content-wrapper {
  width: 1500px !important;
}
.j-drawer.custom-drawer-width-1600 .ant-drawer-content-wrapper {
  width: 1600px !important;
}
.j-drawer.custom-drawer-width-1700 .ant-drawer-content-wrapper {
  width: 1700px !important;
}
.j-drawer.custom-drawer-width-1800 .ant-drawer-content-wrapper {
  width: 1800px !important;
}
.j-drawer.custom-drawer-width-1900 .ant-drawer-content-wrapper {
  width: 1900px !important;
}
